<h1>Tasks</h1>
<%= link_to 'New Task', new_task_path %>

<table>
  <tr>
    <th>Day</th>
    <th>Duty</th>
    <th>Description</>
    <th></th>
  <tr>

  <% @tasks.each do |t| %>
     <tr>
       <td><%= t.day %></td>
       <td><%= t.duty %></td>
       <td><%= t.description %></td>
       <td><%= link_to 'Show', task_path(t) %></td>
       <td><%= link_to 'Change', edit_task_path(t) %></td>
       <td><%= link_to 'Completed', task_path(t), 
                        method: :delete, 
                        data:{ confirm: 'Are you sure you finished, homeslice?' } %></td>


     </tr>
  <% end %>
</table>



