<p>
  <strong>Day:</strong>
  <%= @task.day %>
</p>

<p>
  <strong>Duty:</strong>
  <%= @task.duty %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %>
<%= link_to 'Delete', task_path, 
             method: :delete,
             data: { confirm: "You know what you doin?" } %>
<%= link_to 'See all', tasks_path %>
